backend/venv/*
*__pycache__*
backend/__pycache__*
backend/models/__pycache__*
backend/__pycache__/app.cpython-311.pyc
backend/.env
backend/__pycache__/app.cpython-311.pyc
backend/__pycache__/app.cpython-311.pyc
backend/models/__pycache__/user.cpython-311.pyc
/backend/__pycache__/
backend/.env
backend/venv/
